.contentViewContainer
  position: relative

.videoPlayerContainer
  position: fixed
  z-index: 10
  background-color: rgba(0, 0, 0, 0.85)
  width: 100%
  top: 0
  bottom: 0
  .videoPlayerInnerContainer
    position: relative
    padding: 0
    right: 0
    left: 0
    top: 0
    bottom: 0
    margin: auto

    .videoExitButton
      position: absolute
      right: 0
      top: 0
      margin: 10px
      padding: 5px
    .videoPlayer
      margin: auto
      right: 0
      left: 0
      top: 0
      bottom: 0
      width: 90%
      //background-color: white
      //&::before
      //  padding-top: 56.25%

.contentVideosContainer, .contentInformationContainer
  position: relative
  z-index: 1

.contentInformationContainer
  position: relative
  img.contentBanner
    min-height: 250px
    max-height: 50vh
    width: 100%
    object-fit: cover
    filter: blur(4px)
    -webkit-filter: blur(4px)

  .contentBannerOverlay
    position: absolute
    bottom: 30px
    .contentInformation
      position: relative
    .contentButtons
      position: relative

.contentVideos
  position: relative
  padding: 5px

.contentVideo
  margin: 5px

  a
    cursor: pointer
  .contentThumbnail
    // We take video aspect ratio (16:9)
    height: 196px
    width: (196px*(16/9))
    object-fit: cover
    overflow: hidden
    text-align: center
    position: relative
    z-index: 1
    &:hover
      box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.50)
      -webkit-transition: all 0.2s ease-in
      -moz-transition: all 0.2s ease-in
      -ms-transition: all 0.2s ease-in
      -o-transition: all 0.2s ease-in
      transition: all 0.2s ease-in
    img
      height: 100%
      width: auto
      margin: auto
      position: absolute
      z-index: 1
      left: 50%
      top: 50%
      -webkit-transform: translateY(-50%) translateX(-50%)
  .contentVideoInformation
    overflow: hidden
    line-height: 20px
    font-size: 13px
    font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif
    .contentVideoTitle
      height: 20px
      color: var(----text)
    .contentVideoEpisodeNumber
      height: 20px
      color: hsla(0,0%,100%,.45)

    a
      text-decoration: none
      -webkit-transition: ease-in-out color .15s
      -moz-transition: ease-in-out color .15s
      -ms-transition: ease-in-out color .15s
      -o-transition: ease-in-out color .15s
      transition: ease-in-out color .15s
      &:hover
        text-decoration: none