.footer
  background-color: var(--footer-background)
  a, small
    color: var(--footer-link-color)
    text-decoration: none
    transition: ease-in-out color .05s
  a:hover
    color: var(--footer-link-color-hover)