.carousel
  top: 0
  z-index: -1
  overflow: hidden
  img
    min-height: 250px
    max-height: 80vh
    width: 100%
    object-fit: cover

.dashboardContent
  background: var(--gradient-color-1)
  background: -moz-linear-gradient(180deg, var(--gradient-color-1) 75%, var(--gradient-color-2) 100%)
  background: -webkit-linear-gradient(180deg, var(--gradient-color-1) 75%, var(--gradient-color-2) 100%)
  background: linear-gradient(180deg, var(--gradient-color-1) 75%, var(--gradient-color-2) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--gradient-color-1),endColorstr=var(--gradient-color-2),GradientType=1)