.carousel
  top: 0
  z-index: -1
  overflow: hidden
  img
    min-height: 250px
    max-height: 50vh
    width: 100%
    object-fit: cover

.carouselGradient
  position: relative
  &:after
    content: ''
    top: 0
    width: 100%
    height: 100%
    position: absolute
    background: -moz-linear-gradient(245deg, var(--brand) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, var(--brand) 100%)
    background: -webkit-linear-gradient(245deg, var(--brand) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, var(--brand) 100%)
    background: linear-gradient(245deg, var(--brand) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, var(--brand) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--brand),endColorstr=var(--brand),GradientType=1)

.dashboardContentContainer
  background: var(--gradient-color-1)
  background: -moz-linear-gradient(180deg, var(--gradient-color-1) 75%, var(--gradient-color-2) 100%)
  background: -webkit-linear-gradient(180deg, var(--gradient-color-1) 75%, var(--gradient-color-2) 100%)
  background: linear-gradient(180deg, var(--gradient-color-1) 75%, var(--gradient-color-2) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--gradient-color-1),endColorstr=var(--gradient-color-2),GradientType=1)

.websiteContent
  //overflow: hidden

.contentListContainer
  overflow: hidden

.contentListSpacer
  height: (190px/2*3)

.contentList
  width: 100vw
  max-width: 100%
  position: absolute
  left: 0
  overflow-x: visible
  // We want to be able to scroll through the catalog
  overflow-y: scroll
  // Hide that ugly scrollbar, ew
  scrollbar-width: none // Firefox
  &::-webkit-scrollbar
    width: 0
    background: transparent
  &::-webkit-scrollbar-thumb
    background: transparent
  &::-webkit-scrollbar-track
    background: transparent